
.contact-us-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.contact-us-message {
    padding: 1rem 2rem;
    color: white;
    text-align: center;
    background-color: rgba(54, 54, 54, 0.301);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
}
.contact-description {
    margin-top: 1rem;
    font-size: 20px;
}
.contact-title {
    color: #10b981;
}
  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
  }
  
  .contact-card {
    background-color: rgba(90, 90, 90, 0.199);
    color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    max-width: 500px;
    width: 100%;
  }
  
  .contact-card h1 {
    margin-bottom: 10px;
    color: #10b981;
  }
  
  .contact-card p {
    margin-bottom: 20px;
    font-size: 0.95rem;
  }
  
  .contact-card form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-card input,
  .contact-card textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
  }
  
  .contact-card button {
    background-color: #10b981;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .contact-card button:hover {
    background-color: #0b8059;
  }
  
  .success-message {
    color: rgb(137, 209, 137);
    margin-top: 15px;
    text-align: center;
  }
  